# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [97]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [98]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T

spark = SparkSession.builder\
                    .appName('stats')\
                    .getOrCreate()

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [99]:
df = pd.read_csv('wind.data', sep='\s+')

df

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [100]:
data = spark.createDataFrame(df)

data.show()

+---+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
| Yr| Mo| Dy|  RPT|  VAL|  ROS|  KIL|  SHA|  BIR|  DUB|  CLA|  MUL|  CLO|  BEL|  MAL|
+---+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
| 61|  1|  1|15.04|14.96|13.17| 9.29|  NaN| 9.87|13.67|10.25|10.83|12.58| 18.5|15.04|
| 61|  1|  2|14.71|  NaN|10.83|  6.5|12.62| 7.67| 11.5|10.04| 9.79| 9.67|17.54|13.83|
| 61|  1|  3| 18.5|16.88|12.33|10.13|11.17| 6.17|11.25|  NaN|  8.5| 7.67|12.75|12.71|
| 61|  1|  4|10.58| 6.63|11.75| 4.58| 4.54| 2.88| 8.63| 1.79| 5.83| 5.88| 5.46|10.88|
| 61|  1|  5|13.33|13.25|11.42| 6.17|10.71| 8.21|11.92| 6.54|10.92|10.34|12.92|11.83|
| 61|  1|  6|13.21| 8.12| 9.96| 6.67| 5.37|  4.5|10.67| 4.42| 7.17|  7.5| 8.12|13.17|
| 61|  1|  7| 13.5|14.29|  9.5| 4.96|12.29| 8.33| 9.17| 9.29| 7.58| 7.96|13.96|13.79|
| 61|  1|  8|10.96| 9.75| 7.62| 5.91| 9.62| 7.29|14.29| 7.62| 9.25|10.46|16.62|16.46|
| 61|  1|  9|12.58|10.83| 10.0| 4.75|10.37| 6.79| 8.04|10.13| 7.79| 9.08|13.04|15.37|
| 61|  1| 10|13.37|11.12| 19.5| 8.33| 9.71| 6.54|11.42| 7.79| 8.54|  9.0| 8.58|11.83|
| 61|  1| 11|10.58| 9.87| 8.42| 2.79| 8.71| 7.25| 7.54| 8.33| 5.71| 8.67|20.71|16.92|
| 61|  1| 12|19.75|12.08| 18.5|10.54|10.29| 9.46|15.54| 11.5|10.37|14.58|15.59|14.09|
| 61|  1| 13| 9.92| 3.54| 8.46| 2.96| 2.29| 0.96| 4.63| 0.58| 2.33| 3.37| 5.25| 7.04|
| 61|  1| 14| 9.04| 5.66| 7.08| 0.67| 2.71| 1.38| 3.08| 2.58|  0.5| 2.67| 7.17| 5.17|
| 61|  1| 15|12.04| 9.67|11.75| 2.37| 7.38| 3.13|  2.5| 6.83| 4.75| 5.63| 7.54| 6.75|
| 61|  1| 16|16.42|11.25|15.67| 4.71|11.34| 6.92| 9.25| 8.79| 8.21| 7.33|13.04| 9.04|
| 61|  1| 17|17.75|14.37|17.33|10.13|13.96|13.37|13.42|11.04| 8.71|11.38|15.92|16.08|
| 61|  1| 18|19.83|12.04|20.79|18.54|  NaN|10.29|17.83|11.38|14.67|16.71| 8.79|17.96|
| 61|  1| 19| 4.92| 3.42| 7.29| 1.04| 3.67| 3.17| 3.71| 2.79| 1.92| 2.71| 6.87| 7.83|
| 61|  1| 20| 9.59|11.83| 7.96| 1.58| 7.92|  5.0| 3.17| 4.92| 3.13| 3.37|  6.5| 6.79|
+---+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

In [101]:
data.printSchema()

root
 |-- Yr: long (nullable = true)
 |-- Mo: long (nullable = true)
 |-- Dy: long (nullable = true)
 |-- RPT: double (nullable = true)
 |-- VAL: double (nullable = true)
 |-- ROS: double (nullable = true)
 |-- KIL: double (nullable = true)
 |-- SHA: double (nullable = true)
 |-- BIR: double (nullable = true)
 |-- DUB: double (nullable = true)
 |-- CLA: double (nullable = true)
 |-- MUL: double (nullable = true)
 |-- CLO: double (nullable = true)
 |-- BEL: double (nullable = true)
 |-- MAL: double (nullable = true)

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [102]:
data.select('Yr').distinct().show()

+---+
| Yr|
+---+
| 63|
| 61|
| 62|
| 65|
| 64|
| 67|
| 66|
| 68|
| 69|
| 71|
| 72|
| 70|
| 74|
| 73|
| 76|
| 75|
| 77|
| 78|
+---+

In [103]:

def convertir_año(x):
    return (1900 + x)

convertidor = F.udf(lambda z: convertir_año(z), T.IntegerType())


data = data.withColumn('Yr', convertidor(F.col('Yr')))

In [104]:
data.show()

+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|  Yr| Mo| Dy|  RPT|  VAL|  ROS|  KIL|  SHA|  BIR|  DUB|  CLA|  MUL|  CLO|  BEL|  MAL|
+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|1961|  1|  1|15.04|14.96|13.17| 9.29|  NaN| 9.87|13.67|10.25|10.83|12.58| 18.5|15.04|
|1961|  1|  2|14.71|  NaN|10.83|  6.5|12.62| 7.67| 11.5|10.04| 9.79| 9.67|17.54|13.83|
|1961|  1|  3| 18.5|16.88|12.33|10.13|11.17| 6.17|11.25|  NaN|  8.5| 7.67|12.75|12.71|
|1961|  1|  4|10.58| 6.63|11.75| 4.58| 4.54| 2.88| 8.63| 1.79| 5.83| 5.88| 5.46|10.88|
|1961|  1|  5|13.33|13.25|11.42| 6.17|10.71| 8.21|11.92| 6.54|10.92|10.34|12.92|11.83|
|1961|  1|  6|13.21| 8.12| 9.96| 6.67| 5.37|  4.5|10.67| 4.42| 7.17|  7.5| 8.12|13.17|
|1961|  1|  7| 13.5|14.29|  9.5| 4.96|12.29| 8.33| 9.17| 9.29| 7.58| 7.96|13.96|13.79|
|1961|  1|  8|10.96| 9.75| 7.62| 5.91| 9.62| 7.29|14.29| 7.62| 9.25|10.46|16.62|16.46|
|1961|  1|  9|12.58|10.83| 10.0| 4.75|10.37| 6.79| 8.04|10.13| 7.79| 9.08|13.04|15.37|
|1961|  1| 10|13.37|11.12| 19.5| 8.33| 9.71| 6.54|11.42| 7.79| 8.54|  9.0| 8.58|11.83|
|1961|  1| 11|10.58| 9.87| 8.42| 2.79| 8.71| 7.25| 7.54| 8.33| 5.71| 8.67|20.71|16.92|
|1961|  1| 12|19.75|12.08| 18.5|10.54|10.29| 9.46|15.54| 11.5|10.37|14.58|15.59|14.09|
|1961|  1| 13| 9.92| 3.54| 8.46| 2.96| 2.29| 0.96| 4.63| 0.58| 2.33| 3.37| 5.25| 7.04|
|1961|  1| 14| 9.04| 5.66| 7.08| 0.67| 2.71| 1.38| 3.08| 2.58|  0.5| 2.67| 7.17| 5.17|
|1961|  1| 15|12.04| 9.67|11.75| 2.37| 7.38| 3.13|  2.5| 6.83| 4.75| 5.63| 7.54| 6.75|
|1961|  1| 16|16.42|11.25|15.67| 4.71|11.34| 6.92| 9.25| 8.79| 8.21| 7.33|13.04| 9.04|
|1961|  1| 17|17.75|14.37|17.33|10.13|13.96|13.37|13.42|11.04| 8.71|11.38|15.92|16.08|
|1961|  1| 18|19.83|12.04|20.79|18.54|  NaN|10.29|17.83|11.38|14.67|16.71| 8.79|17.96|
|1961|  1| 19| 4.92| 3.42| 7.29| 1.04| 3.67| 3.17| 3.71| 2.79| 1.92| 2.71| 6.87| 7.83|
|1961|  1| 20| 9.59|11.83| 7.96| 1.58| 7.92|  5.0| 3.17| 4.92| 3.13| 3.37|  6.5| 6.79|
+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

In [105]:
data = data.withColumn('all_date', F.concat('Yr', F.lit('-'), 'Mo', F.lit('-'), 'Dy'))

In [106]:
data.show()

+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+
|  Yr| Mo| Dy|  RPT|  VAL|  ROS|  KIL|  SHA|  BIR|  DUB|  CLA|  MUL|  CLO|  BEL|  MAL| all_date|
+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+
|1961|  1|  1|15.04|14.96|13.17| 9.29|  NaN| 9.87|13.67|10.25|10.83|12.58| 18.5|15.04| 1961-1-1|
|1961|  1|  2|14.71|  NaN|10.83|  6.5|12.62| 7.67| 11.5|10.04| 9.79| 9.67|17.54|13.83| 1961-1-2|
|1961|  1|  3| 18.5|16.88|12.33|10.13|11.17| 6.17|11.25|  NaN|  8.5| 7.67|12.75|12.71| 1961-1-3|
|1961|  1|  4|10.58| 6.63|11.75| 4.58| 4.54| 2.88| 8.63| 1.79| 5.83| 5.88| 5.46|10.88| 1961-1-4|
|1961|  1|  5|13.33|13.25|11.42| 6.17|10.71| 8.21|11.92| 6.54|10.92|10.34|12.92|11.83| 1961-1-5|
|1961|  1|  6|13.21| 8.12| 9.96| 6.67| 5.37|  4.5|10.67| 4.42| 7.17|  7.5| 8.12|13.17| 1961-1-6|
|1961|  1|  7| 13.5|14.29|  9.5| 4.96|12.29| 8.33| 9.17| 9.29| 7.58| 7.96|13.96|13.79| 1961-1-7|
|1961|  1|  8|10.96| 9.75| 7.62| 5.91| 9.62| 7.29|14.29| 7.62| 9.25|10.46|16.62|16.46| 1961-1-8|
|1961|  1|  9|12.58|10.83| 10.0| 4.75|10.37| 6.79| 8.04|10.13| 7.79| 9.08|13.04|15.37| 1961-1-9|
|1961|  1| 10|13.37|11.12| 19.5| 8.33| 9.71| 6.54|11.42| 7.79| 8.54|  9.0| 8.58|11.83|1961-1-10|
|1961|  1| 11|10.58| 9.87| 8.42| 2.79| 8.71| 7.25| 7.54| 8.33| 5.71| 8.67|20.71|16.92|1961-1-11|
|1961|  1| 12|19.75|12.08| 18.5|10.54|10.29| 9.46|15.54| 11.5|10.37|14.58|15.59|14.09|1961-1-12|
|1961|  1| 13| 9.92| 3.54| 8.46| 2.96| 2.29| 0.96| 4.63| 0.58| 2.33| 3.37| 5.25| 7.04|1961-1-13|
|1961|  1| 14| 9.04| 5.66| 7.08| 0.67| 2.71| 1.38| 3.08| 2.58|  0.5| 2.67| 7.17| 5.17|1961-1-14|
|1961|  1| 15|12.04| 9.67|11.75| 2.37| 7.38| 3.13|  2.5| 6.83| 4.75| 5.63| 7.54| 6.75|1961-1-15|
|1961|  1| 16|16.42|11.25|15.67| 4.71|11.34| 6.92| 9.25| 8.79| 8.21| 7.33|13.04| 9.04|1961-1-16|
|1961|  1| 17|17.75|14.37|17.33|10.13|13.96|13.37|13.42|11.04| 8.71|11.38|15.92|16.08|1961-1-17|
|1961|  1| 18|19.83|12.04|20.79|18.54|  NaN|10.29|17.83|11.38|14.67|16.71| 8.79|17.96|1961-1-18|
|1961|  1| 19| 4.92| 3.42| 7.29| 1.04| 3.67| 3.17| 3.71| 2.79| 1.92| 2.71| 6.87| 7.83|1961-1-19|
|1961|  1| 20| 9.59|11.83| 7.96| 1.58| 7.92|  5.0| 3.17| 4.92| 3.13| 3.37|  6.5| 6.79|1961-1-20|
+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+
only showing top 20 rows

In [107]:
data = data.withColumn(
    'formatted_date',
    F.concat(F.col('Yr').cast('string'), F.lit('-'), F.lpad(F.col('Mo'), 2, '0'), F.lit('-'), F.lpad(F.col('Dy'), 2, '0'))
)
data = data.withColumn('datetime_column', F.to_timestamp('formatted_date', 'yyyy-MM-dd'))

In [108]:
data.show()

+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+--------------+-------------------+
|  Yr| Mo| Dy|  RPT|  VAL|  ROS|  KIL|  SHA|  BIR|  DUB|  CLA|  MUL|  CLO|  BEL|  MAL| all_date|formatted_date|    datetime_column|
+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+--------------+-------------------+
|1961|  1|  1|15.04|14.96|13.17| 9.29|  NaN| 9.87|13.67|10.25|10.83|12.58| 18.5|15.04| 1961-1-1|    1961-01-01|1961-01-01 00:00:00|
|1961|  1|  2|14.71|  NaN|10.83|  6.5|12.62| 7.67| 11.5|10.04| 9.79| 9.67|17.54|13.83| 1961-1-2|    1961-01-02|1961-01-02 00:00:00|
|1961|  1|  3| 18.5|16.88|12.33|10.13|11.17| 6.17|11.25|  NaN|  8.5| 7.67|12.75|12.71| 1961-1-3|    1961-01-03|1961-01-03 00:00:00|
|1961|  1|  4|10.58| 6.63|11.75| 4.58| 4.54| 2.88| 8.63| 1.79| 5.83| 5.88| 5.46|10.88| 1961-1-4|    1961-01-04|1961-01-04 00:00:00|
|1961|  1|  5|13.33|13.25|11.42| 6.17|10.71| 8.21|11.92| 6.54|10.92|10.34|12.92|11.83| 1961-1-5|    1961-01-05|1961-01-05 00:00:00|
|1961|  1|  6|13.21| 8.12| 9.96| 6.67| 5.37|  4.5|10.67| 4.42| 7.17|  7.5| 8.12|13.17| 1961-1-6|    1961-01-06|1961-01-06 00:00:00|
|1961|  1|  7| 13.5|14.29|  9.5| 4.96|12.29| 8.33| 9.17| 9.29| 7.58| 7.96|13.96|13.79| 1961-1-7|    1961-01-07|1961-01-07 00:00:00|
|1961|  1|  8|10.96| 9.75| 7.62| 5.91| 9.62| 7.29|14.29| 7.62| 9.25|10.46|16.62|16.46| 1961-1-8|    1961-01-08|1961-01-08 00:00:00|
|1961|  1|  9|12.58|10.83| 10.0| 4.75|10.37| 6.79| 8.04|10.13| 7.79| 9.08|13.04|15.37| 1961-1-9|    1961-01-09|1961-01-09 00:00:00|
|1961|  1| 10|13.37|11.12| 19.5| 8.33| 9.71| 6.54|11.42| 7.79| 8.54|  9.0| 8.58|11.83|1961-1-10|    1961-01-10|1961-01-10 00:00:00|
|1961|  1| 11|10.58| 9.87| 8.42| 2.79| 8.71| 7.25| 7.54| 8.33| 5.71| 8.67|20.71|16.92|1961-1-11|    1961-01-11|1961-01-11 00:00:00|
|1961|  1| 12|19.75|12.08| 18.5|10.54|10.29| 9.46|15.54| 11.5|10.37|14.58|15.59|14.09|1961-1-12|    1961-01-12|1961-01-12 00:00:00|
|1961|  1| 13| 9.92| 3.54| 8.46| 2.96| 2.29| 0.96| 4.63| 0.58| 2.33| 3.37| 5.25| 7.04|1961-1-13|    1961-01-13|1961-01-13 00:00:00|
|1961|  1| 14| 9.04| 5.66| 7.08| 0.67| 2.71| 1.38| 3.08| 2.58|  0.5| 2.67| 7.17| 5.17|1961-1-14|    1961-01-14|1961-01-14 00:00:00|
|1961|  1| 15|12.04| 9.67|11.75| 2.37| 7.38| 3.13|  2.5| 6.83| 4.75| 5.63| 7.54| 6.75|1961-1-15|    1961-01-15|1961-01-15 00:00:00|
|1961|  1| 16|16.42|11.25|15.67| 4.71|11.34| 6.92| 9.25| 8.79| 8.21| 7.33|13.04| 9.04|1961-1-16|    1961-01-16|1961-01-16 00:00:00|
|1961|  1| 17|17.75|14.37|17.33|10.13|13.96|13.37|13.42|11.04| 8.71|11.38|15.92|16.08|1961-1-17|    1961-01-17|1961-01-17 00:00:00|
|1961|  1| 18|19.83|12.04|20.79|18.54|  NaN|10.29|17.83|11.38|14.67|16.71| 8.79|17.96|1961-1-18|    1961-01-18|1961-01-18 00:00:00|
|1961|  1| 19| 4.92| 3.42| 7.29| 1.04| 3.67| 3.17| 3.71| 2.79| 1.92| 2.71| 6.87| 7.83|1961-1-19|    1961-01-19|1961-01-19 00:00:00|
|1961|  1| 20| 9.59|11.83| 7.96| 1.58| 7.92|  5.0| 3.17| 4.92| 3.13| 3.37|  6.5| 6.79|1961-1-20|    1961-01-20|1961-01-20 00:00:00|
+----+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+--------------+-------------------+
only showing top 20 rows

In [109]:
df['Yr'] = df['Yr'].apply(lambda x: 1900+ int(x))

In [115]:
import numpy as np

df['colunm_datetime'] = pd.to_datetime(df['Dy'] + df['Mo'] + df['Yr']).dt.date

In [116]:
df

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,colunm_datetime
0,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1970-01-01
1,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1970-01-01
2,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1970-01-01
3,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1970-01-01
4,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1970-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1970-01-01
6570,1978,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1970-01-01
6571,1978,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1970-01-01
6572,1978,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1970-01-01
6573,1978,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1970-01-01

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

Para los datos en pyspark no hay indices

In [117]:
df.set_index('colunm_datetime', inplace=True)

df

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
colunm_datetime,,,,,,,,,,,,,,,
1970-01-01,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1970-01-01,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1970-01-01,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1970-01-01,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1970-01-01,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01,1978,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1970-01-01,1978,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1970-01-01,1978,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1970-01-01,1978,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1970-01-01,1978,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

### Step 7. Compute how many non-missing values there are in total.

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

### Step 12. Downsample the record to a yearly frequency for each location.

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.